<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- Font: Outfit -->
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/discover.css" />
    <link rel="stylesheet" href="/styles/read-blog.css" />
    <title>Bloggr</title>
  </head>
  <body>
    <header>
      <div class="header-box unselectable">
        <a href="/" id="header-logo">Bloggr</a>
        <div class="unselectable">
          <a href="/blogs/" id="discover-tab">Discover</a>
          <a href="/blogs/create/" class="big-button">Get Started</a>
        </div>
      </div>
    </header>

    <main>
