<%- include("partials/header.ejs") %>

<section class="blog-wrapper">
  <div id="blogs-grid">
    <!-- Grid Element Start -->
    <a
      href="/blogs/random-blog-title"
      class="blog-post"
      id="random-blog-title1"
    >
      <div class="blog-image-wrapper">
        <img src="/images/6205248.jpg" alt="PLACEHOLDER IMAGE" />
        <div class="blog-overlay">
          <h2 class="blog-title">Insanely Epic Blog Title</h2>
          <div class="blog-info">
            <div>
              <img src="/images/eye.png" alt="views icon" />
              <p>98,365</p>
            </div>
            <div>
              <img src="/images/calendar.png" alt="views icon" />
              <p>21/05/25</p>
            </div>
          </div>
        </div>
      </div>
    </a>
    <!-- Grid Element End -->
    <!-- Grid Element Start -->
    <a
      href="/blogs/random-blog-title"
      class="blog-post"
      id="random-blog-title1"
    >
      <div class="blog-image-wrapper">
        <img src="/images/6205248.jpg" alt="PLACEHOLDER IMAGE" />
        <div class="blog-overlay">
          <h2 class="blog-title">Insanely Epic Blog Title</h2>
          <div class="blog-info">
            <div>
              <img src="/images/eye.png" alt="views icon" />
              <p>98,365</p>
            </div>
            <div>
              <img src="/images/calendar.png" alt="views icon" />
              <p>21/05/25</p>
            </div>
          </div>
        </div>
      </div>
    </a>
    <!-- Grid Element End -->
    <!-- Grid Element Start -->
    <a
      href="/blogs/random-blog-title"
      class="blog-post"
      id="random-blog-title1"
    >
      <div class="blog-image-wrapper">
        <img src="/images/6205248.jpg" alt="PLACEHOLDER IMAGE" />
        <div class="blog-overlay">
          <h2 class="blog-title">Insanely Epic Blog Title</h2>
          <div class="blog-info">
            <div>
              <img src="/images/eye.png" alt="views icon" />
              <p>98,365</p>
            </div>
            <div>
              <img src="/images/calendar.png" alt="views icon" />
              <p>21/05/25</p>
            </div>
          </div>
        </div>
      </div>
    </a>
    <!-- Grid Element End -->
    <!-- Grid Element Start -->
    <a
      href="/blogs/random-blog-title"
      class="blog-post"
      id="random-blog-title1"
    >
      <div class="blog-image-wrapper">
        <img src="/images/6205248.jpg" alt="PLACEHOLDER IMAGE" />
        <div class="blog-overlay">
          <h2 class="blog-title">Insanely Epic Blog Title</h2>
          <div class="blog-info">
            <div>
              <img src="/images/eye.png" alt="views icon" />
              <p>98,365</p>
            </div>
            <div>
              <img src="/images/calendar.png" alt="views icon" />
              <p>21/05/25</p>
            </div>
          </div>
        </div>
      </div>
    </a>
    <!-- Grid Element End -->
    <!-- Grid Element Start -->
    <a
      href="/blogs/random-blog-title"
      class="blog-post"
      id="random-blog-title1"
    >
      <div class="blog-image-wrapper">
        <img src="/images/6205248.jpg" alt="PLACEHOLDER IMAGE" />
        <div class="blog-overlay">
          <h2 class="blog-title">Insanely Epic Blog Title</h2>
          <div class="blog-info">
            <div>
              <img src="/images/eye.png" alt="views icon" />
              <p>98,365</p>
            </div>
            <div>
              <img src="/images/calendar.png" alt="views icon" />
              <p>21/05/25</p>
            </div>
          </div>
        </div>
      </div>
    </a>
    <!-- Grid Element End -->
    <!-- Grid Element Start -->
    <a
      href="/blogs/random-blog-title"
      class="blog-post"
      id="random-blog-title1"
    >
      <div class="blog-image-wrapper">
        <img src="/images/6205248.jpg" alt="PLACEHOLDER IMAGE" />
        <div class="blog-overlay">
          <h2 class="blog-title">Insanely Epic Blog Title</h2>
          <div class="blog-info">
            <div>
              <img src="/images/eye.png" alt="views icon" />
              <p>98,365</p>
            </div>
            <div>
              <img src="/images/calendar.png" alt="views icon" />
              <p>21/05/25</p>
            </div>
          </div>
        </div>
      </div>
    </a>
    <!-- Grid Element End -->
    <!-- Grid Element Start -->
    <a
      href="/blogs/random-blog-title"
      class="blog-post"
      id="random-blog-title1"
    >
      <div class="blog-image-wrapper">
        <img src="/images/6205248.jpg" alt="PLACEHOLDER IMAGE" />
        <div class="blog-overlay">
          <h2 class="blog-title">Insanely Epic Blog Title</h2>
          <div class="blog-info">
            <div>
              <img src="/images/eye.png" alt="views icon" />
              <p>98,365</p>
            </div>
            <div>
              <img src="/images/calendar.png" alt="views icon" />
              <p>21/05/25</p>
            </div>
          </div>
        </div>
      </div>
    </a>
    <!-- Grid Element End -->
  </div>
</section>

<%- include("partials/footer.ejs") %>
