<%- include("partials/header.ejs") %>

<!-- FIXME: The landing image displays under the header and not as the background of the header. -->

<section>
  <div class="hero unselectable">
    <div>
      <h1>Ready to publish your blogs?</h1>
      <a href="/blogs/create/" class="big-button" id="main-button"
        >Get Started</a
      >
      <a href="#features" id="learn-more-button">Learn More</a>
    </div>
  </div>
</section>

<section id="features">
  <div class="features">
    <div class="feature-image-right animated-in">
      <div>
        <h2>Very Cool Title Here</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae
          nulla id mauris sodales tincidunt. Donec feugiat dui ligula, sit amet
          volutpat sapien rutrum vitae. Suspendisse potenti. Vivamus ac suscipit
          nisl. Mauris nec mattis tellus. Morbi sed elementum ligula. Ut eu
          risus volutpat, tempor odio ac, venenatis mi.
        </p>
      </div>
      <img src="/images/bg-2.jpg" alt="PLACEHOLDER IMAGE" />
    </div>

    <div class="feature-image-left animated-in">
      <img src="/images/default-bg.jpg" alt="PLACEHOLDER IMAGE" />
      <div>
        <h2>Another Very Cool Title Here</h2>
        <p>
          Donec lectus lorem, auctor cursus urna porta, bibendum hendrerit
          tellus. Aliquam finibus nisi hendrerit magna lacinia, in sodales urna
          pellentesque. Praesent faucibus magna justo, eu tincidunt est sodales
          sit amet. Sed dapibus suscipit efficitur. Vestibulum hendrerit, lorem
          sed finibus imperdiet, dolor urna pulvinar velit, sit amet venenatis
          sem erat eu neque. Curabitur auctor odio et sollicitudin rutrum. Nulla
          finibus aliquet augue, non malesuada elit fermentum in. Nulla sodales
          ex enim, id rhoncus erat lacinia vel.
        </p>
      </div>
    </div>

    <div class="feature-image-right animated-in">
      <div>
        <h2>Wow that's a lot of cool titles</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae
          nulla id mauris sodales tincidunt. Donec feugiat dui ligula, sit amet
          volutpat sapien rutrum vitae. Suspendisse potenti. Vivamus ac suscipit
          nisl. Mauris nec mattis tellus. Morbi sed elementum ligula. Ut eu
          risus volutpat, tempor odio ac, venenatis mi.
        </p>
      </div>
      <img src="/images/bg-2.jpg" alt="PLACEHOLDER IMAGE" />
    </div>
  </div>
</section>

<%- include("partials/footer.ejs") %>
